SELECT
    {% for column in columns %}
        {{ column }}{% if not loop.last %},{% endif %}
    {% endfor %}
FROM
    {{ table_name }}
WHERE
    1=1
    {% if where_clause %}
        AND {{ where_clause }}
    {% endif %}
;